shoot/*

results_assembly/*

forROIanalyses/*

coreg_center_mass_reorient/*

mri_for_assembly/*

catlog/*

qc_overlays/*

orig_petsuvmri_nii/*

orig_petmri_nii/*

manual_realign/*

coreg_manual_realign/*

center_mass_reorient/*

cat12segment/*

wfu_pons.nii

mni152.nii

coregpetmri.ps

coregpetmri_centermass.ps

aal_cerebellum.nii

r_aal.nii

gm_wm_mask.nii


